DATABASE_URL="postgresql://user:password@localhost:5432/hiring"
NEXTAUTH_SECRET="replace_me"
NEXTAUTH_URL="http://localhost:3000"
UPLOADTHING_TOKEN="replace_me"
CLOUDINARY_URL="replace_me"

ADMIN_APP_HOST="admin.company.com"
